<div class="row">
		<div class="container">
			<!--
      <div class="col-sm-12">
				<div class="col-sm-offset-5 col-sm-2">
					<img src="assets/images/Logo_Barcelona_FC.png" style="width:100%"/>
				</div>
			</div>
      -->
			<div class="col-sm-offset-4 col-sm-4 signupDiv">
				<div class="col-sm-12 signupDivChild">
					<div class="col-sm-12">
						<h2>Sign Up</h2>
					</div>
					<div class="col-sm-12">
						<label class="control-label">Name</label>
					</div>
					<div class="col-sm-12 signupDivfield">
						<input type="name" #name class="form-control" placeholder="Your public name" name="yourpublicname" value="">
					</div>
					<div class="col-sm-12">
						<label class="control-label">Email</label>
					</div>
					<div class="col-sm-12 signupDivfield">
						<input type="email" #email class="form-control" placeholder="Email Address" name="youremailaddress" value="">
					</div>
					<div class="col-sm-12">
						<label class="control-label">Password</label>
					</div>
					<div class="col-sm-12 signupDivfield">
						<input type="password" #password class="form-control" placeholder="Password" name="yourpassword" value="">
					</div>
					<div class="col-sm-12">
						<label class="control-label">Re-enter Password</label>
					</div>
					<div class="col-sm-12 signupDivfield">
						<input type="password" class="form-control" placeholder="Password" name="yourpassword" value="">
					</div>
					<div class="col-sm-12 signupDivfield text-center">
						<button class="btn btn-primary "(click)="register(name.value, email.value,password.value)">Create your account</button>
					</div>
				</div>
				<div class="col-sm-12 signupDivChildsecond">
					<div class="col-sm-12 signupDivfield text-center">
						<button class="loginBtn loginBtn--facebook" style="width:77%;">
						  Login with Facebook
						</button>					
					</div>
					<div class="col-sm-12 signupDivfield text-center">
						<button class="loginBtn loginBtn--google" style="width:77%;">
						 Login with Google
						</button>					
					</div>
				</div>
			</div>
		</div>
	</div>	


<!--
<form class="form-signin" (ngSubmit)="register(name.value, email.value,password.value)">
        <h2 class="form-signin-heading">Signup</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input #name name="name"  id="inputName" class="form-control" placeholder="Full Name" required="" autofocus="" type="text">
        
        <label for="inputEmail" class="sr-only">Email</label>
        <input id="inputEmail"  #email name="email" class="form-control" placeholder="Email" required="" type="email">

        <label for="inputPassword" class="sr-only">Password</label>
        <input id="inputPassword"  #password name="password" class="form-control" placeholder="Password" required="" type="password">
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Signup</button>
      </form>
      {{error}}
      -->